{% extends 'base.html' %}

{% block content %}
<body>
    <div class="container">
        <h2>
            <br><br><center>모바일게임 랭킹
        </h2>
        <p>
            <center>모바일게임 통계</center>
        </p>
        <div class='reload'>
            {% if request.session.user %}
            <button class="btn btn-primary" onclick="location.href ='/rank/mobile/reload'">랭킹갱신</button>
            {% else %}
            <button class="btn btn-primary" onclick="location.href ='/account/login'">랭킹갱신</button>
            {% endif %}
        </div>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th class='rankId'>순위</th>
                    <th class='rankUrl'></th>
                    <th class='rankTitle'>타이틀</th>
                    <th>제작사</th>
                </tr>
            </thead>
            <tbody>
                {% for mobiledb in mobile %}
                <tr>
                    <td class='rankId'>
                        <center><br>{{ mobiledb.id }}위
                    </td>
                    <td class='rankUrl'>
                        <div style="text-align : center;">
                            <center><img src={{mobiledb.iconUrl}} id='mobileUrl'
                            onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
                        </div>
                    </td>
                    <td class='rankTitle'>
                        <center><br>{{ mobiledb.title }}
                    </td>
                    <td>
                        <center><br>{{ mobiledb.company }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p class="right">출처 - 모바일인덱스</p>

        <script>
	function zoomIn(event) {
    event.target.style.width = "13vmin";
    event.target.style.height = "13vmin";
    event.target.style.transition = "all 0.5s";
  }

  function zoomOut(event) {
    event.target.style.width = "10vmin";
    event.target.style.height = "10vmin";
    event.target.style.transition = "all 0.5s";
  }
    </script>
</body>


</html>
{% endblock %}